<div class="container">
  <div class="row mt-10">
    
    <!--ジャンル一覧-->
    <div class="col-md-3 ">
      <%= render 'public/items/genre_table', genres: @genres %>
    </div>
    
    <!--アイキャッチ-->
    <div class="col-md-9 ">
      <div class="top-cover">
          <img src="/assets/kamikhochi.jpg" alt="">
          <p>ようこそ、NaganoCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>
      </div>
    </div>
      <div class="row">
        <h4 class="col-md-12">おすすめ商品</h4><br>
        <%= render 'public/items/recommend_items', items: @items %>
        <div class= "col-md-12 text-right"><%= link_to "もっとみる", public_items_path, class: 'btn btn-outline-primary mt-2' %></div>
      </div>
    </div>
  </div>
</div>