<!--%= link_to '会員一覧', admins_customers_path %>-->

<h3 style="margin:45px 190px;"><span class="alert-dark pl-3 pr-3">管理者画面</span></h3>

<h2 style="margin:120px 0 0 100px;">本日の注文件数<span style="margin-left:100px;"></span><%= link_to "#{@orders.count}", admins_orders_path %>件</h2>