/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-cover {/*親div*/
  position: relative;/*相対配置*/
  margin-left: auto;
  margin-right: auto;
  }

.top-cover p {
  position: absolute;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 20px;/*サイズ2倍*/
  font-family :Gautami;/*Google Font*/
  top: 90px;
  left: 26px;
  margin:0;
  padding:0;
  }

.top-cover img {
  height: 300px;
  width: 500px;
  }
  

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';