<h2>注文一覧ページ</h2>
<table>
    <thread>
        <tr>
          <th class="table-active"  style="width:430px;">購入日時</th>
          <th class="table-active" style="width:150px;">購入者</th>
          <th class="table-active" style="width:100px;">注文個数</th>
          <th class="table-active" style="width:170px;">注文ステータス</th>
        </tr>
    </thread>
    
    <tbody>
        <% @orders.each do |order| %>
    <tr>
        <td><%= order.created_at %></td>
        <td><%= order.name  %></td>
        <td><%= order.order_details.count %></td>
        <td><%= order.status %></td>
    </tr>
        <% end %>
    </tbody>
</table>
