
<% items.last(4).each do |item| %>
<div class="col-md-3 card center ">
<%= attachment_image_tag(item, :image, size: "250x150", fallback: "no_image.jpg") %><br>
<div class="card-body">
    <h6 class="card-title"><%= item.name %></h6>
    <p class="card-text"><%= item.price %></p>
</div>
</div>
<% end %>


  
