<!--ジャンル一覧-->
<div class="container">
  <div class="row mt-10">
    <div class="col-md-3 ">
      <%= render 'public/items/genre_table', genres: @genres %>
    </div>
  
      <% if @genre.present?  %>
        <%= render 'genre_index', items: @genres_for_index  %>
      <% else %>
        <%= render 'all_index', items: @items  %>
      <% end %>
   </div> 
</div>

