<h1>商品一覧ページ</h1>
<% @items.each do |item| %>
    <%= attachment_image_tag item, :image, format: 'jpeg', size:"200x200", fallback: "no_image.jpg" %>
    <%= link_to public_item_path(item.id) do %>
        <%= item.name %>
    <% end %>
    <%= item.price %>
<% end %>