<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" style="width:400px;">
    <h2>Error</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>